<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>api_secret</key>
	<string>TP20PXNQ4S5DKVTOOVNZO4LK0UMKTDMEHB34WUORCJ5BO1ZC</string>
	<key>api_key</key>
	<string>X1CC4QRSRD2P1P2FIDJQFLQFKGZTKZ0EYCWL0X0K5DFSNPF0</string>
</dict>
</plist>
